/* цвет основного текста #2E2F42 */
/* цвет вторичного текста #434455 */
/* главный цвет фона #FFFFFF */
/* цвет акцента #4D5AE5 */
/* вторичный цвет фона #F4F4FD */


:root{
    --primary-text-color:  #2E2F42;
    --secondary-text-color: #434455;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color:#2E2F42;
    --third-bg-color : #F4F4FD;
    --accent:#4D5AE5;
    --accent-two:#404bbf;

}
   
/* HOME PAGE */  /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ 

body{
    background-color:var(--primary-bg-color);
    color: var(--secondary-text-color);
    font-family: "Roboto" , sans-serif; 
    
   
}



.logo.part{
    color: var(--secondary-bg-color);
}
.logo{
    color:var(--accent);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
     font-size: 18px;
     line-height: 1.17; 
      letter-spacing: 0.03em;
}

.logo.link{
     text-decoration: none;
}

.site-nav.list{
list-style: none;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color:var(--secondary-bg-color);
}

.site-nav.text{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.cont-info{
    color: var(--secondary-bg-color);
    
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;

}
.list{
    list-style: none;
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);

}



.cont-info:hover,.cont-info:focus{
    color: var(--accent-two);
}



.main-header{
    background-color: var(--secondary-bg-color);
    text-align: center;
}

.main-header.tittle{
    color: var(--primary-bg-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing:0.02em;
    
}

.order-button{
    cursor:pointer;
    background-color: var(--accent);
    color:var(--primary-bg-color);
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
}

.order-button:hover{
color:var(--accent-two);
}

.feauters-list{
    list-style: none;
}

.feauters.card-tittle{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
     letter-spacing: 0.02em;
}

.feauters-list.text{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.5 ;
    letter-spacing: 0.02em ;

}

.projects.tittle{ 
    color: var(--primary-text-color);
    font-weight: 700;
     font-size: 36px;
    line-height: 1.11;
    text-align: center;
     letter-spacing: 0.02em;
     text-transform: capitalize;
}

.projects.list{
    list-style: none;
}

.team{
    background-color: var(--third-bg-color);
    color: var(--secondary-text-color);
}



.team.tittle{
    color: var(--primary-text-color);
   font-weight: 700;
    font-size: 36px;
    line-height: 1.11;  
    text-align: center;
    letter-spacing: 0.02em;
     text-transform: capitalize;
}



.team.list{
    list-style: none;

}

.card-tittle{
    background-color: var(--primary-bg-color);
     color:var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
     letter-spacing: 0.02em ;

}



card-text {
    color:var(--secondary-text-color);
    font-size: 16px ;
   line-height: 1.5;
   letter-spacing: 0.02em;
}
    
.logo.part-footer{
color:var(--third-bg-color);

}

.footer{
    background-color: var(--secondary-bg-color);
    color: var(--third-bg-color);
}
.footer-text{
    
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em ;
}





/* PAGE PORTFOLIO */ /* PAGE PORTFOLIO */ /* PAGE PORTFOLIO */ /* PAGE PORTFOLIO */




.button{
background-color: var(--third-bg-color);
color: var(--accent);
cursor:pointer;
text-align: center;
}

.button:hover{
    background-color: var(--accent);
    color: var(--primary-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.filtre-buttons button:focus{
    
    color:  var(--secondary-bg-color);
}




.projects h2 {
    color: var(--primary-text-color);
     font-weight: 500;
    font-size: 20px;
    line-height: 1;  

}
.projects p {
    color: var(--secondary-text-color);
    
   font-size: 16px;
   line-height: 1.5;
}